<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>

   

</head>

<style>
    table, th, td {
      border:1px solid black;
    }
    </style>
<body>

    <h1>Restaurant Management </h1>

    <a href="Addnewpage.html"> Add New Restaurant</a>
<br/> <br/>

    <table style="width:auto">
        <tr>
          <th>Restaurant Name</th>
          <th>Adress</th>
          <th>Details</th>
          
        </tr>
        <tr>
          <td>T-grill</td>
          <td>Madhapur, Hyderabad</td>
          <td><a href="T-Grill.html"> Preview</a></td>

          
        </tr>
        <tr>
          <td>Santosh Daba</td>
          <td>Habits</td>
          <td><a href="Santosh Daba.html"> Preview</a></td>
          
          </tr>

          <tr>
            <td>Mehfil </td>
            <td>Mehdipatnam</td>
            <td><a href="Mehfill.html"> Preview</a></td>
            
            </tr>


      </table>


    
</body>

</html>