<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-Grill</title>
</head>
<body>
    
<h1>Santosh Daba</h1>
<h3> Adress</h3>
<h5>Attapur </br>
    Hyderabad </br>
    Guttala_Begumpet, CBI Colony, </br>
    Madhapur, Telangana 500033 </br>
</h5>

<h1>Menu Details</h1>
<img src="Menu.jpg" width="auto" height="auto"/>

</body>
</html>